<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
		th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

	<section>
	
		<h1>this is new about section</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem 
			quos adipisci illum ipsam eum accusantium dolor enim est perspiciatis ullam 
			repudiandae! Praesentium impedit saepe dolorum atque pariatur delectus 
			perspiciatis dolor alias at! Et possimus sed harum voluptas laboriosam sunt 
			adipisci culpa iure ea dicta cupiditate nam sint cum quisquam!</p>
	
	</section>
	
</body>
</html>