<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	
	<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
	
</head>
<body>

	<div class="container">
	
		<img th:src="@{/image/profile.png}" class="profile" alt="" />
	
		<h1>Menambahkan CSS, Javascript dan Image di Thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo 
		veniam delectus aspernatur a. Error sunt incidunt doloremque voluptatum 
		hic fuga a voluptatem atque placeat ullam. Laudantium adipisci autem 
		maxime soluta quisquam recusandae natus fuga consequatur reiciendis 
		dignissimos! Illum quisquam dolores consectetur veritatis aliquid laborum 
		sunt vero hic consequuntur non!</p>
		
	</div>
	
	<script th:src="@{js/myjs.js}"></script>
	
</body>
</html>